<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Maker Weather Station | An Open Source Python Weather Station</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Maker Weather Station: An Open Source Python Weather Station" />
        <meta name="keywords" content="crakins, python, weather, weather station, raspberry pi, arduino" />
        <meta name="author" content="crakins" />
        <link rel="shortcut icon" href="favicon.ico"> 
		<link href='http://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/font/stylesheet.css" />
        <script type="text/javascript">
</script>
    </head>
    <body>
        <div class="container">
        	<div class="header">
        		Maker Weather Station: An Open Source Project
        	</div>
        	
			<div id="content">
			  {% block content %}{% end %}
			</div>
			
			<p class="copyright">
				<span>&copy; 2014 <a href="http://www.crakins.com/">crakins.com</a> </span>
			</p>
        </div>
    </body>
</html>
