{% extends "base.html" %}

{% block content %}
  
<div class="inner">
	<div class="left-block">
			<ul>
				<li>Temperature: {{ weatherMeasurements[0] }}&#176; F</li>
				<li>Baro Temp: {{ weatherMeasurements[1] }}&#176; F</li>
				<li>Humidty: {{ weatherMeasurements[2] }}%</li>
				<li>Pressure: {{ weatherMeasurements[3] }} hPa</li>
				<li>Altitude: {{ weatherMeasurements[4] }} ft</li>
				<li>Device: {{ weatherMeasurements[6] }}</li>
				<li><span>@ {{ weatherMeasurements[7] }}</span></li>
			</ul>
	</div>
	<div class="right-block">
		<img src={{ weatherMeasurements[5] }} />
		<br />
		<p><a href="http://plot.ly/~crakins" target="_blank">Weather Plots</a></p>
		<!-- <a href="http://plot.ly/~crakins" target="_blank"><img src="images/plot.jpg" /></a> -->
	</div>

	<div class="clr"></div>
</div>
<div class="bottom">
	<div class="inner">
	<p>Want to join the project?  Leave your email!</p>
	<form name="input" method="POST">
	<ul class="signup">
		<li><input type="text" name="email" class="inputbox" placeholder="you@yourmail.com" /></li>
		<li><input type="submit" class="submit" value="Submit" /></li>
	</ul>
	</form>
	<ul class="social">
		<li><img src="images/banner_github.png" alt="GitHub" />&nbsp;<a href="github.com/crakins/weather_frontend" title="GitHub">https://github.com/crakins/weather_frontend</a></li>
		<li><img src="images/tm.png" alt="Tarrant Makers" />&nbsp;<a href="www.tarrantmakers.org" title="TarrantMakers">http://www.tarrantmakers.org</a></li>
	</ul> 
	</div>
</div>
{% end %}

